.question, .container
  border: 1px solid rgba(250, 250, 250, 0.2)
  background-image: linear-gradient( 178.1deg,  rgba(60,55,106,1) 8.5%, rgba(23,20,69,1) 82.4% ) !important
  padding: 2.5em
  margin: 1em 0
  border-radius: 0.15em
  color: #eee
  width: 100%
  width: 800px
  text-align: left !important
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6)

  &:disabled
    &:hover
      background: blue

  h3
    font-weight: 900
    line-height: 160%
    margin-bottom: 1em

.answer, button.answer
  // border: 1px solid #ccc
  width: 100%
  padding: 0.5em
  cursor: pointer
  transition: background 300ms
  word-wrap: break-word
  border-bottom: 1px solid rgba(250, 250, 250, 0.4)
  background-image: linear-gradient( 178.1deg,  rgba(60,55,106,1) 8.5%, rgba(23,20,69,1) 82.4% ) !important
  color: #999
  transition: color 400ms, background 400ms
  text-align: left !important
  
  &:last-of-type
    border: none

  &:hover
    background: rgba(250, 250, 250, 0.1)
    color: #eee

button.correct
  background: green !important

button.incorrect
  background: red !important

.correct, .incorrect
  color: #fff !important


button.answer, .anser, button
  background: purple
  text-align: left !important

.answer, button.answer, .answer
  text-align: left !important
  background: lime
