.question
  border: 1px solid blue

.answer
  border: 1px solid #ccc
  width: 100%
  cursor: pointer
  transition: background 300ms

  &:hover
    background: #999

.correct
  background: green

.incorrect
  background: red
