


//////////////////
.life-lines
  position: absolute
  top: 60px
  right: 1em

  > button
    margin: .2em
    border: 1px solid #999



//////////////
.special
  background: #f3f3f3
  padding: 1em
  font-size: 132%




////////////////
.ScoreBoard
  background: white
  padding: 1em
  position: fixed
  top: 60px
  left: 1em







//////////////
.debug
  position: fixed
  bottom: 0
  right: 0
  margin: 1em
  padding: 1em
  background: red
  color: white


/// hide stuff
.debug, #resetButton
  display:  none
