body
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  background: #222
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover

.App
  max-width: 840px
  padding: 2em


///////////////////
.progress-timer
  width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #333
  color: #efefef
  max-height: 20px
