@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap')

html, body
  font-family: Poppins, sans-serif
  font-weight: 300
  font-size: 112%

h1, h2, h3, h4, h5, a
  font-weight: 700
  text-transform: uppercase

#app
  font-family: Poppins, sans-serif

a
  color: #d3d3d3
  font-weight: bold
  text-decoration: none
  transition: color 300ms
  &:hover
    color: white

#app > p
  margin-bottom: 1em
